/* Typography */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ffe6ca;
    background-image:url(wheat-3241114.jpg);
}
p {
    font-size: x-large;
}

h1, h2, h3 {
    font-weight: bold;
    color: #ffe6ca;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color:#ffe6ca;
    position: relative;
    right: -17px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 40px;
    right: 30px;
}

.farm {
    color: rgb(157, 255, 157);
}
ul {
    display: flex;
}

li {
    margin-right: 80px;
    color: #fff;
}
/* Hover effects */
.cta-button {
    display: flex;
    padding: 10px 20px;
    background-color: #fcce52;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin-top: 50px;
    justify-content: center;
}

.cta-button:hover {
    background-color: #f18928;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}



/* Spacing */
.container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    padding: 100px 0;
}


/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #0056b3;
    position: relative;
    bottom: -230px;
}

.footer p {
    margin-bottom: 0;
}
.footer:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


